
  <p>
  <strong>Documento/Relatório:</strong>
  <%=  @document.document_file_name %>
  <td> <%= link_to 'Download', @document.document.url(:original, false) %> </td>
<br>
</p>


 <td><%= link_to 'Editar', edit_document_path(@document) %>
 <%= link_to 'Voltar', documents_path %>
 </td>
