<div class="row"> <!--   Cor IPT - #7BBF46 -->
	<a href="/" class="logo noline">
		<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 800 28.97019" class="ts_full"> 
			<g transform="translate(120,-65)">
				<path class="icon" d="M 30.99,2.09
           C 34.17,2.41 37.70,7.55 39.52,10.00
             45.86,18.52 50.54,27.85 53.00,38.20
             53.78,41.47 56.91,53.90 54.39,55.98
             51.50,58.35 39.40,55.54 36.00,54.49
             24.99,51.09 18.49,48.57 9.00,41.71
             6.28,39.74 1.53,36.46 0.82,33.00
             0.27,30.33 2.78,26.36 4.00,24.00
             8.36,26.26 14.45,34.73 19.00,38.91
             27.47,46.70 40.45,52.46 52.00,53.00
             52.00,53.00 47.53,36.83 47.53,36.83
             42.53,24.85 33.21,14.44 22.00,8.00
             22.00,8.00 22.00,6.00 22.00,6.00
             24.12,4.78 28.59,1.85 30.99,2.09 Z
           M 71.70,15.00
           C 73.94,11.49 79.72,2.51 84.00,2.09
             86.42,1.86 90.87,4.77 93.00,6.00
             93.00,6.00 93.00,8.00 93.00,8.00
             75.86,17.05 65.77,34.32 63.00,53.00
             75.94,51.95 86.22,47.44 96.00,38.82
             101.07,34.35 105.95,26.61 111.00,24.00
             111.91,25.96 114.12,30.00 114.13,32.00
             114.16,37.27 104.09,42.93 100.00,45.40
             86.57,53.50 74.62,57.00 59.00,57.00
             60.04,42.61 63.84,27.28 71.70,15.00 Z
           M 11.00,74.82
           C 24.42,65.77 39.95,61.22 56.00,61.00
             55.33,75.53 50.93,89.46 43.67,102.00
             41.53,105.69 35.37,115.48 31.00,115.91
             28.58,116.14 24.13,113.23 22.00,112.00
             22.00,112.00 22.00,110.00 22.00,110.00
             34.81,102.80 45.12,90.11 49.43,76.00
             49.43,76.00 52.00,64.00 52.00,64.00
             52.00,64.00 36.99,68.10 36.99,68.10
             23.45,73.34 13.52,82.78 6.00,95.00
             -4.18,86.03 2.14,80.79 11.00,74.82 Z
           M 103.00,74.36
           C 112.39,80.64 119.23,84.96 109.00,95.00
             98.66,78.20 83.03,66.37 63.00,65.00
             64.96,77.43 68.63,87.42 77.17,97.00
             77.17,97.00 93.00,112.00 93.00,112.00
             91.14,113.11 87.02,115.84 85.00,115.99
             79.89,116.38 74.17,106.83 71.67,103.00
             64.47,91.95 59.12,74.27 59.00,61.00
             74.55,61.26 89.97,65.64 103.00,74.36 Z" 
             transform="translate(0,5)" id="path2985" />
				<text x="120" y="30"  class="twister" xml:space="preserve">
					<tspan x="120" y="120">IPT</tspan>
				</text>
				<text x="10" y="130" class="slogan" xml:space="preserve">
				    <tspan x="-30" y="153" id="tspan3790">Instituto Politécnico de Tomar</tspan>
				</text>
			</g>
		</svg>

		<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 410 22.97019" class="ts_no_slogan">
			<g transform="translate(0,-60)">
				<path class="icon" d="M 30.99,2.09
           C 34.17,2.41 37.70,7.55 39.52,10.00
             45.86,18.52 50.54,27.85 53.00,38.20
             53.78,41.47 56.91,53.90 54.39,55.98
             51.50,58.35 39.40,55.54 36.00,54.49
             24.99,51.09 18.49,48.57 9.00,41.71
             6.28,39.74 1.53,36.46 0.82,33.00
             0.27,30.33 2.78,26.36 4.00,24.00
             8.36,26.26 14.45,34.73 19.00,38.91
             27.47,46.70 40.45,52.46 52.00,53.00
             52.00,53.00 47.53,36.83 47.53,36.83
             42.53,24.85 33.21,14.44 22.00,8.00
             22.00,8.00 22.00,6.00 22.00,6.00
             24.12,4.78 28.59,1.85 30.99,2.09 Z
           M 71.70,15.00
           C 73.94,11.49 79.72,2.51 84.00,2.09
             86.42,1.86 90.87,4.77 93.00,6.00
             93.00,6.00 93.00,8.00 93.00,8.00
             75.86,17.05 65.77,34.32 63.00,53.00
             75.94,51.95 86.22,47.44 96.00,38.82
             101.07,34.35 105.95,26.61 111.00,24.00
             111.91,25.96 114.12,30.00 114.13,32.00
             114.16,37.27 104.09,42.93 100.00,45.40
             86.57,53.50 74.62,57.00 59.00,57.00
             60.04,42.61 63.84,27.28 71.70,15.00 Z
           M 11.00,74.82
           C 24.42,65.77 39.95,61.22 56.00,61.00
             55.33,75.53 50.93,89.46 43.67,102.00
             41.53,105.69 35.37,115.48 31.00,115.91
             28.58,116.14 24.13,113.23 22.00,112.00
             22.00,112.00 22.00,110.00 22.00,110.00
             34.81,102.80 45.12,90.11 49.43,76.00
             49.43,76.00 52.00,64.00 52.00,64.00
             52.00,64.00 36.99,68.10 36.99,68.10
             23.45,73.34 13.52,82.78 6.00,95.00
             -4.18,86.03 2.14,80.79 11.00,74.82 Z
           M 103.00,74.36
           C 112.39,80.64 119.23,84.96 109.00,95.00
             98.66,78.20 83.03,66.37 63.00,65.00
             64.96,77.43 68.63,87.42 77.17,97.00
             77.17,97.00 93.00,112.00 93.00,112.00
             91.14,113.11 87.02,115.84 85.00,115.99
             79.89,116.38 74.17,106.83 71.67,103.00
             64.47,91.95 59.12,74.27 59.00,61.00
             74.55,61.26 89.97,65.64 103.00,74.36 Z" 
             transform="translate(0,5)" id="path2985" />
				<text x="120" y="30"  class="twister" xml:space="preserve">
					<tspan x="120" y="120">IPT</tspan>
				</text>
			</g>
		</svg>

		<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 180 15" class="ts_icon">
			<g transform="translate(0,-60)">
				<path class="icon" d="M 30.99,2.09
           C 34.17,2.41 37.70,7.55 39.52,10.00
             45.86,18.52 50.54,27.85 53.00,38.20
             53.78,41.47 56.91,53.90 54.39,55.98
             51.50,58.35 39.40,55.54 36.00,54.49
             24.99,51.09 18.49,48.57 9.00,41.71
             6.28,39.74 1.53,36.46 0.82,33.00
             0.27,30.33 2.78,26.36 4.00,24.00
             8.36,26.26 14.45,34.73 19.00,38.91
             27.47,46.70 40.45,52.46 52.00,53.00
             52.00,53.00 47.53,36.83 47.53,36.83
             42.53,24.85 33.21,14.44 22.00,8.00
             22.00,8.00 22.00,6.00 22.00,6.00
             24.12,4.78 28.59,1.85 30.99,2.09 Z
           M 71.70,15.00
           C 73.94,11.49 79.72,2.51 84.00,2.09
             86.42,1.86 90.87,4.77 93.00,6.00
             93.00,6.00 93.00,8.00 93.00,8.00
             75.86,17.05 65.77,34.32 63.00,53.00
             75.94,51.95 86.22,47.44 96.00,38.82
             101.07,34.35 105.95,26.61 111.00,24.00
             111.91,25.96 114.12,30.00 114.13,32.00
             114.16,37.27 104.09,42.93 100.00,45.40
             86.57,53.50 74.62,57.00 59.00,57.00
             60.04,42.61 63.84,27.28 71.70,15.00 Z
           M 11.00,74.82
           C 24.42,65.77 39.95,61.22 56.00,61.00
             55.33,75.53 50.93,89.46 43.67,102.00
             41.53,105.69 35.37,115.48 31.00,115.91
             28.58,116.14 24.13,113.23 22.00,112.00
             22.00,112.00 22.00,110.00 22.00,110.00
             34.81,102.80 45.12,90.11 49.43,76.00
             49.43,76.00 52.00,64.00 52.00,64.00
             52.00,64.00 36.99,68.10 36.99,68.10
             23.45,73.34 13.52,82.78 6.00,95.00
             -4.18,86.03 2.14,80.79 11.00,74.82 Z
           M 103.00,74.36
           C 112.39,80.64 119.23,84.96 109.00,95.00
             98.66,78.20 83.03,66.37 63.00,65.00
             64.96,77.43 68.63,87.42 77.17,97.00
             77.17,97.00 93.00,112.00 93.00,112.00
             91.14,113.11 87.02,115.84 85.00,115.99
             79.89,116.38 74.17,106.83 71.67,103.00
             64.47,91.95 59.12,74.27 59.00,61.00
             74.55,61.26 89.97,65.64 103.00,74.36 Z" 
             transform="translate(0,5)" />
			</g>
		</svg>
	</a>
</div>
