<section class="main_menu">
	<div class="content">
		<nav id="menu">
		    <a class="toggle_link noline"><i class="fa fa-close fa-lg"></i></a>
		    <ul>			    
		        <li>
		            <a href="#">Page</a>
		        </li>
		        <li>
		            <a href="#">Full-Width Page</a>
		        </li>
		        <li>
		            <a href="#">Archive</a>
		        </li>
		        <li>
		            <a href="#">Typography</a>
		        </li>
		        <li class="parent"><a href="#">Drop Example</a>
		            <ul>
		                <li><a href="#">child</a></li>
		                <li><a href="#">child</a></li>
		                <li><a href="#">child</a></li>
		            </ul>
		        </li>
	            <li>
			    	<dir id="user_nav">
				      <% if user_signed_in? %>
				        <%= current_user.email.split('@')[0] %>
				        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				      <% else %>
				        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
				      <% end %>
			      </dir>
			    </li>
		    </ul>
		</nav>
		<nav class="iconnav">
		    <ul>
		        <li class="sicon">
		            <a href='#search'><i class='fa fa-search'></i></a>
		        </li>
	            <li class="social">
	                <a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a>
	            </li>
	            <li class="social">
	                <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
	            </li>
	            <li class="social">
	                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
	            </li>
	            <li class="social">
	                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
	            </li>
	            <li class="social">
	                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
	            </li>
	            <li class="social">
	                <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
	            </li>
	            <li class="social">
	                <a href="#" class="vimeo"><i class="fa fa-vimeo-square"></i></a>
	            </li>
	            <li class="social">
	                <a href="#" class="soundcloud"><i class="fa fa-soundcloud"></i></a>
	            </li>
		    </ul>
		</nav>
		<a href='' class="toggle_link noline">
		    <i class="fa fa-navicon"></i>
		</a>
	</div>
</section>
