<section class="main_menu">
	<div>
		<nav class="navbar navbar-toggleable-md navbar-light bg-fade">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">IPT</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Início</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/">Sobre</a>
					</li>
				

				<% if user_signed_in? %>

				<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Adicionar</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Nova Escola</a>
              <a class="dropdown-item" href="#">Novo Curso</a>
              <a class="dropdown-item" href="#">Nova Disciplina</a>
              <a class="dropdown-item" href="#">Novo Projecto</a>
              <a class="dropdown-item" href="#">Nova Pessoa</a>
            </div>
          </li>

			<% end %>

</ul>
<form id="custom-search-form" class="form-inline my-2 my-md-0 navbar-form form-search form-horizontal pull-left">
			<div class="input-group"><input type="text" class="search-query mr-3" placeholder="&#xF002;"></div>
        </form>

        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
            <% if user_signed_in? %>
              <a class="dropdown-item" href="#">
              <i class="fa fa-user" aria-hidden="true"></i> 
						<%= current_user.email.split('@')[0] %>	
				  </a>
              <a class="dropdown-item" href="#"><i class='fa fa-sign-out' aria-hidden='true'></i> Sair</a>
              <% else %>
              <a class="dropdown-item" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Entrar</a>
              <% end %>
              <% if current_user.admin? %>
              <!-- admin -->
              <hr>
              <a class="dropdown-item" href="/admin"><i class="fa fa-cogs" aria-hidden="true"></i> Administração</a>
              <% end %>
            </div>
          </li>
          <a class="nav-link" href="https://github.com/nelsonmpg/IPTomar-MEI-IoT-ES" class="tumblr"><i class="fa fa-github"></i></a>
          <a class="nav-link" href="https://www.facebook.com/PaginaMaravilhosa" class="facebook"><i class="fa fa-facebook"></i></a>
          </ul>

			</div>
		</nav>
	</div>
</section>
