<div class="sidebar">
    <div class="widget">
        <h3 class="title">Escolas</h3>
        <ul class="category_list">
            <!-- <a href="/schools">Escolas</a> -->
            <% @schools.each do |school|%>
                <li><%=school.name%></li>
            <%end%>
        </ul>
    </div>

    <div class="widget">
        <h3 class="title">Cursos</h3>
        <ul class="category_list">
            <% @courses.each do |course|%>
                <li><%=course.name%></li>
            <%end%>
        </ul>
    </div>

    <div class="widget">
        <h3 class="title">TAG's</h3>
        <ul class="category_list">
            
        </ul>
    </div>
</div>