<div class="sidebar">
    <div class="widget rounded">
        <h3 class="title">Escolas</h3>
        <ul class="category_list">
            <!-- <a href="/schools">Escolas</a> -->
            <% schools.each do |school|%>
                <li><%= link_to school.name, school %></li>
            <%end%>
        </ul>
    </div>

    <div class="widget rounded">
        <h3 class="title">Cursos (10 random)</h3>
        <ul class="category_list">
            <% courses.each do |course|%>
                <li><%= link_to course.name, course %></li>
            <%end%>
        </ul>
    </div>

    <div class="widget rounded">
        <h3 class="title text-xs-center">Tags mais frequentes</h3>
        <ul class="category_list">
            <% tags.each do |tag|%>
                <li><%= link_to tag.name, { :action => :index, :controller => :projects, :tag => tag.name }, :class => "noline" %></li>
            <%end%>
        </ul>
    </div>
</div>