<div class="nested-fields">
<% if f.object.id.nil? %>
  <%= f.label :document, "Escolha um fichero: " %>
  <%= f.file_field :document %>
  <%else%>
     <%= f.object.document_file_name %>
     <%end%>
  <%= link_to_remove_association "Remover", f, class: "btn btn-danger btn-lg", data: {confirm: 'Tens a certeza, Miguel?'} %>
</div>