<div id="presentation-slides" class="nested-fields bg-faded my-1">
  <div class="row">
    <div class="col-md-11">
      <% if f.object.id.nil? %> 
        <%= f.file_field :slides %>
      <%else%>
          <%= f.object.slides_file_name %>  
      <%end%>
    </div>
    <div class="col-md-1">
      <%= link_to_remove_association "X", f, class: "btn btn-danger btn-sm", data: {confirm: 'Tens a certeza, Miguel?'} %>
    </div>
  </div>
</div>
