<div class="col-md-8">
	<div class="content mt-1">
		<div class="jumbotron px-1 py-1 rounded">

			<div class="alert alert-success" role="alert">
				<h1 class="text-center">Editar <b><%= @project.title %></b></h1>
			</div>
				
			<%= render 'form', project: @project %>
				
			<div class="post_nav row mt-1">
				<div class="  col-md-12">
						<%= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Visualizar'.html_safe, @project, class: "btn btn-success btn-block" %>
				</div>
			</div>

		</div>
	</div>
</div>