<!-- <h1>Editing Project</h1><h1>Editing Project</h1> -->

<%= render 'form', project: @project %>


<div class="post_nav">
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>
</div>

