<div class="container-fluid">
	<div class="jumbotron">
		<h2>Editar <b><%= @project.title %></b></h2>
		<%= render 'form', project: @project %>

		<div class="post_nav">
		    <%= link_to 'Show', @project, class: "btn btn-success" %> |
		    <%= link_to '< Voltar', projects_path, class: "btn btn-info" %>
		</div>
    </div>
  </div>