<div class="container-fluid">
	<div class="jumbotron">
		<h1>Adicionar Novo Projeto</h1>
		<%= render 'form', project: @project %>
		<div class="row">
			<%= link_to '< Voltar', projects_path, class: "btn btn-info" %>			
		</div>
	</div>
</div>