<section class="margin"> 
	<div class="content">

		<%= render 'projects/projects', collection: @projects_list = @projects.paginate(:page => params[:page]) %>

		<%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags: @sb_tags} %>
	</div>	
</section>
