
<section class="margin">
	<div class="content">
		<p class="switch">switch layout: <span id="grid">Grid</span> &bull; <span id="classic">Classic</span></p>

		<!-- {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %} -->
		<div class="articles">
			<article>
				<a href="/standard/" class="noline">
					<img src="/img/1.jpg" alt="1.jpg">
				</a>

				<span class="category">standard</span>

				<a href="/standard/">
					<h1>Standard Post</h1>
				</a>

				<p class="post_content">Here you can see the basic post. No fancy type, no setting and the featured...</p>

				<span class="date"><i class="fa fa-calendar"></i> February 10, 2015</span>
			</article>
		</div>
		

		<% render partial: "layouts/sidebar" %>
	</div>
</section>


