<article>
	<a href="/standard/" class="noline">
		<img src="/img/1.jpg" alt="1.jpg">
	</a>
	<span class="category">standard</span>
	<a href="/standard/">
		<h1>Standard Post</h1>
	</a>
	<p class="post_content">Here you can see the basic post. No fancy type, no setting and the featured...</p>
	<span class="date"><i class="fa fa-calendar"></i> February 10, 2015</span>
</article>