.head .row .logo svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

a.noline,
footer .noline.backtotop,
nav a,
nav footer .backtotop,
footer nav .backtotop {
    border-bottom: 0px solid transparent;
}
img {
    max-width: 100%;
}


/* icon do header com imagem do ipt */
.icon {
    fill: #7AC13F;
    fill-rule: nonzero;
    stroke: #7AC13F;
    stroke-width: 0.05;
    stroke-miterlimit: 4;
    stroke-opacity: 0.94117647;
    stroke-dasharray: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

/* palavra ipt no header */
.twister {
    font-size: 150px;
    font-weight: 300;
    line-height: 125%;
    fill: #7AC13F;
    font-family: "Roboto", "Calibri", "Arial", sans-serif;
    text-transform: uppercase;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

/* nome completo ipt no header */
.slogan {
    font-size: 30px;
    font-weight: 200;
    line-height: 125%;
    fill: #7AC13F;
    font-family: "Roboto", "Calibri", "Arial", sans-serif;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

a:hover svg .icon,
a:hover svg footer .backtotop:hover,
footer a:hover svg .backtotop:hover {
    fill: #D2F3AE;
    stroke: #7AC13F;
}
a:hover svg .twister,
a:hover svg footer .backtotop:hover,
footer a:hover svg .backtotop:hover {
    fill: #D2F3AE;
}
a:hover svg .slogan,
a:hover svg footer .backtotop:hover,
footer a:hover svg .backtotop:hover {
    fill: #D2F3AE;
}

/* configs navbar */
.main_menu {
    background: #FDFDFD;
    position: relative;
    top: 0px;
    width: 100%;
    left: 0px;
    border-top: 1px solid #E6DED6;
    border-bottom: 1px solid #E6DED6;
    text-transform: uppercase;
}


#menu {
    background: #FDFDFD;
    box-sizing: border-box;
    /*color: #D2F3AE;
     font-size: 1em;*/
    z-index: 105;
}
/*
#menu a,
#menu footer .backtotop,
footer #menu .backtotop {
    color: #7AC13F;
}
#menu a:hover,
#menu footer .backtotop:hover,
footer #menu .backtotop:hover {
    color: #D2F3AE;
}
#menu .toggle_link {
    display: none;
}
#menu>ul {
    text-align: center;
}
*/





/* head - logo etc */
.head {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    /*background: #FDFDFD; */
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 20;
}

@media screen and (min-width: 935px) {
    .head .ts_no_slogan,
    .head .row .logo .ts_icon {
        display: none;
    }
}
@media screen and (max-width: 934px) and (min-width: 641px) {
    .head .ts_full,
    .head .ts_icon {
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .head .ts_full,
    .head .ts_no_slogan {
        display: none;
    }
}
.head .row {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    padding: 80px 10px;
    box-sizing: border-box;
    overflow: hidden;
}
@media screen and (max-width: 640px) {
    .head .row {
        padding: 120px 10px;
    }
}
.head .row .logo {
    position: relative;
    width: 100%;
    height: 0;
    padding: 22.761020127% 0 0 0;
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    height: 100px;
    display: block;
    max-width: 750px;
    width: 50%;
}
.head .row .title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    font-size: 0em;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.head .shrink {
    padding: 0px 10px;
    box-sizing: border-box;
}
.head .shrink .logo {
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}
.head .shrink .title {
    font-size: 1em;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}



html,
body {
    font-family: "Roboto", "Calibri", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: 900;
    height: 100%;
    width: 100%;
}
body {
    line-height: 1.5;
    background-color: #FDFDFD;
    background-image: url(/img/ipt.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: none;
    line-height: 1;
    padding: 10px 0px;
}
h1 {
    font-size: 2.1em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.75em;
}
h7 {
    font-size: 0.65em;
}
h8 {
    font-size: 0.55em;
}




/* botões para mudar entre grid e list */
.switch {
    width: 100%;
   /* font-size: 0.8em;*/
    margin-bottom: 10px;
}
@media screen and (max-width: 530px) {
    .switch {
        display: none;
    }
}
.switch span {
    /*color: #7AC13F;*/
}
.switch span:hover {
    color: #AEB9A0;
    cursor: pointer;
}




/* articles = projectos (lista) */
.index article span {
    padding: 10px;
}
article {
    box-sizing: border-box;
    background: #FDFDFD;
    margin-bottom: 20px;
    border: 1px solid #E6DED6;
    position: relative;
}
.content_container article {
    padding: 20px;
}
.content_container article p {
    padding: 0;
}
.index article h1,
.index article p,
.index article span {
    padding: 10px;
}
article img {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
article a:hover img,
article a:hover footer .backtotop:hover,
footer article a:hover .backtotop:hover {
    opacity: 0.5;
}
article .category,
article .tags {
    text-transform: uppercase;
}
.index article .category,
.index article .tags {
    font-size: 0.7em;
    opacity: 0.6;
}
.index article .date {
    font-size: 0.7em;
    opacity: 0.6;
    position: absolute;
    bottom: 10px;
    left: 5px;
}
.index article .post_content {
    padding-bottom: 50px;
}
article ul,
article ol {
    list-style: circle;
    padding: 0 35px;
}
article ul li,
article ol li {
    padding-left: 0px;
}
article ol {
    list-style: decimal;
}



/* sidebar  e footer */
.sidebar {
   /* width: calc(25% - 20px); */
}


footer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-top: 1px solid #E6DED6;
    background: #FDFDFD;
    font-size: 0.8em;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
footer .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
footer .backtotop:hover {
    cursor: pointer;
}
.widget {
    background: #FDFDFD;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #E6DED6;
    margin-bottom: 20px;
}
.widget:last-of-type {
    margin-bottom: 0px;
}
.widget .title {
    font-weight: 300;
}
.widget ul {
    /*list-style: armenian;*/
    padding: 0 25px;
}
.widget ul li {
    padding-left: 0px;
}


/* paginação */

.pagination {
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.pagination em {
    padding: 5px 10px;
    border: 1px solid #E6DED6;
    background: lightgrey;
}

.pagination a,
.pagination footer .backtotop,
footer .pagination .backtotop,
.pagination span {
    padding: 5px 10px;
    border: 1px solid #E6DED6;
    background: #FDFDFD;
}
.pagination .disabled {
    opacity: 0.5;
}


/* links footer */
a,
footer .backtotop {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    color: #7AC13F;
    text-decoration: none;
    border-bottom: #7AC13F 1px solid;
}
a:hover,
footer .backtotop:hover {
    transiton: 0.3s all;
    color: #7AC13F;
    border-bottom: transparent 1px solid;
}
a.noline,
footer .noline.backtotop,
nav a,
nav footer .backtotop,
footer nav .backtotop {
    border-bottom: 0px solid transparent;
}
img {
    max-width: 100%;
}





/** Inicio das minhas alterações especificias**/
.input-group input.search-query {
    font-family: Arial, FontAwesome;
}

.nav-item {
    padding-right: 2em;
}

.classicGrid {
    padding: 0.4em;
    font-weight: normal;
    font-size: 80%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}


#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    display: none;
}
#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
    background: transparent;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    border: 0px;
    outline: none;
}
#search.open {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 106;
    display: block;
}

.search-query{
    float:left;
    width: 10%;
    opacity:0.7;
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    padding-left: 4px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    outline: none;
}

.search-query:focus{
    width: 100%;
    outline: none;
    opacity:1;
    border-bottom:2px solid rgba(122, 193, 63, 0.7);
}

.pos-popup-info {
    position: fixed;
    left: 1%;
    top: 1%;
    z-index:1000;
}

.corVerde {
    color: #7AC13F;
}

.teste {
	background-color: white
}

.main-section {
	padding-top: 3em;
	padding-bottom: 3em;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fim{
    width:100%;
    position:absolute;
    bottom:0;
}

.imgCover{
    object-fit: cover;
}

.imgDetailsProj{
    width: 150px;
    height: 150px;
}

.myCarousel{
    height: 500px;
}


/** Fim das minhas alterações especificias **/


@media (min-width: 1200px) {
    .container{
        width: 85%;
        /*width:auto;*/
    }
}

/* isto só funciona se for scss (é código dinâmico sass) */
@include media-breakpoint-down(sm) { 
	.container{
        width:auto;
    }
 }

 .articlesGrid {
 	width: 100%;
 }