

/*
 * https://gist.github.com/anotheruiguy/7379570
 */
@font-face {
    font-family: 'Roboto';
    src:font-url('Roboto-MediumItalic-webfont.eot');
    src:font-url('Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), font-url('Roboto-MediumItalic-webfont.woff') format('woff'), font-url('Roboto-MediumItalic-webfont.ttf') format('truetype'), font-url('Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:font-url('Roboto-Medium-webfont.eot');
    src:font-url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), font-url('Roboto-Medium-webfont.woff') format('woff'), font-url('Roboto-Medium-webfont.ttf') format('truetype'), font-url('Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:font-url('Roboto-LightItalic-webfont.eot');
    src: font-url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), font-url('Roboto-LightItalic-webfont.woff') format('woff'), font-url('Roboto-LightItalic-webfont.ttf') format('truetype'), font-url('Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: font-url('Roboto-Light-webfont.eot');
    src: font-url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), font-url('Roboto-Light-webfont.woff') format('woff'), font-url('Roboto-Light-webfont.ttf') format('truetype'), font-url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: font-url('Roboto-BlackItalic-webfont.eot');
    src: font-url('Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'), font-url('Roboto-BlackItalic-webfont.woff') format('woff'), font-url('Roboto-BlackItalic-webfont.ttf') format('truetype'), font-url('Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: font-url('Roboto-Black-webfont.eot');
    src: font-url('Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), font-url('Roboto-Black-webfont.woff') format('woff'), font-url('Roboto-Black-webfont.ttf') format('truetype'), font-url('Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}
