<div class="container-fluid">
  <div class="jumbotron">
    <div class="alert alert-success" role="alert">
        <h1 class="text-xs-center">Editar Curso</h1>
      </div>
      
      <%= render 'form', course: @course, disableEdit: false %>

    <div class="row">
      <div class="col-xs-2">
        <%= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar'.html_safe, courses_path, class: "btn btn-outline-info btn-block" %>
      </div>      
      <div class="  col-xs-2">
          <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Visualizar'.html_safe, @course, class: "btn btn-outline-success btn-block" %>
      </div>
    </div>
  </div>
</div>