<div class="col-md-6">
  <div class="content mt-1">
    <div class="jumbotron px-1 py-1 rounded">
      <div class="alert alert-success" role="alert">
        <h1 class="text-center">Novo Curso</h1>
      </div>

      <%= render 'form', course: @course, disableEdit: false %>

      <!-- ISTO APARECE EM MAIS ALGUM LADO ALEM DO _FORM?? SE SIM, DESCOMENTAR E REMOVER O EQUIVALENTE DENTRO DO _FORM!
      <div class="row mt-1">
        <div class="col-xs-2">
          <%= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar'.html_safe, courses_path, class: "btn btn-outline-info btn-block" %>
        </div>      
      </div> -->
    </div>
  </div>
</div>